<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="customer" class="com.cg.spring.core.Customer"> 
        
        <property name="id" value="123"></property>
         <property name="name" value="mukesh"></property>
         <property name="addr" ref="address"></property>
         
         
          <property name="product">
          <list>
			<ref bean="product"/>
			<ref bean="product2"/>          
            <ref bean="product3"/>
          </list>
         </property>
         
         
         
         <property name="product_reviews">
          <map>
           <entry key="iphone" value="4 stars"/>
            <entry key="samsung" value="3 stars"/>
             <entry key="oppo" value="2 stars"/>
          
          
          </map>
         
         
         </property>
        
        </bean>
        
        <bean id="address" class="com.cg.spring.core.address">
        <property name="street" value="Gachibowli"></property>
         <property name="city" value="Hyderabad"></property>
          <property name="state" value="Telangana"></property>
        </bean>
        
         <bean id="product" class="com.cg.spring.core.Product">
        <property name="id" value="101"></property>
         <property name="pname" value="Laptop"></property>
          <property name="price" value="45000"></property>
        </bean>
        
          <bean id="product2" class="com.cg.spring.core.Product">
        <property name="id" value="102"></property>
         <property name="pname" value="Phone"></property>
          <property name="price" value="10000"></property>
        </bean>
        
        <bean id="product3" class="com.cg.spring.core.Product">
        <property name="id" value="103"></property>
         <property name="pname" value="Wifi"></property>
          <property name="price" value="2000"></property>
        </bean>
        </beans>